<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>JeuPendu</servlet-name>
		<servlet-class>com.oz.webPendu.JeuPenduServlet</servlet-class>
	</servlet>
	<!-- JSPC servlet mappings start -->

    <servlet>
        <servlet-name>org.apache.jsp.jsp.aide_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.aide_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.fin_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.fin_jsp</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>org.apache.jsp.jsp.pendu_jsp</servlet-name>
        <servlet-class>org.apache.jsp.jsp.pendu_jsp</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.aide_jsp</servlet-name>
        <url-pattern>/jsp/aide.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.fin_jsp</servlet-name>
        <url-pattern>/jsp/fin.jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>org.apache.jsp.jsp.pendu_jsp</servlet-name>
        <url-pattern>/jsp/pendu.jsp</url-pattern>
    </servlet-mapping>

<!-- JSPC servlet mappings end -->

<servlet-mapping>
		<servlet-name>JeuPendu</servlet-name>
		<url-pattern>/jeupendu</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
